server:
    verbosity: {{ verbosity }}
    interface: {{ unbound_bind_addr }}
    port: {{ unbound_port }}
    do-ip4: {{ do_ip4 }}
    do-udp: {{ do_udp }}
    do-tcp: {{ do_tcp }}
    do-ip6: {{ do_ip6 }}
    prefer-ip6: {{ prefer_ip6 }}
    harden-glue: {{ harden_glue }}
    harden-dnssec-stripped: {{ harden_dnssec_stripped }}
    use-caps-for-id: {{ use_caps_for_id }}
    edns-buffer-size: {{ edns_buffer_size }}
    prefetch: {{ prefetch }}
    num-threads: {{ num_threads }}
    so-rcvbuf: {{ so_rcvbuf }}
{% for address in private_addresses %}
    private-address: {{ address }}
{% endfor %}
